h1 {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 500px;
    height: 500px;
    padding: 20px;
    margin: 0 auto;
}

.big {
    width: 28.6%;
    height: 28.6%;
    padding: 10px;
    float: left;
    border: 2px solid black;
}

.small {
    width: 32%;
    height: 32%;
    float: left;
    border: 1px solid gray;
    text-align: center;
    font-size: 35px;
}